/*body { 
 background: url(../images/bg2.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.panel-default {
 opacity: 0.9;
 margin-top:180px;
}
.form-group.last {
 margin-bottom:0px;
}*/
.navbar{
    text-align: center;
}
.navbar-container {
    text-align: center;
}
.zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2);
    color:white
  }